@charset "utf-8";

/*トップページ*/
.panel{
  border: 1px solid #DCDCDC;
}
.panel-title{
  height: 10px;
}
.thumbnail-body{
  height:290px;
}
.thumbnail{
  position:relative;
}
.thumbnail img{
  height:250px;
  width:460px;
}
.thumbnail p{
  position:absolute;
  bottom:0px;
  left:5px;
}
.ribbon {
    display: inline-block;
    position: relative;
    height: 20px;/*高さ*/
    line-height: 20px;/*高さ*/
    vertical-align: middle;
    text-align: center;
    padding: 0 40px 0 18px;/*文字の左右の余白*/
    font-size: 15px;/*文字サイズ*/
    background: #ffc668;/*背景色*/
    color: #FFF;/*文字色*/
    box-sizing: border-box;
}
.ribbon:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}

.header-image{
  position:relative;
  margin-bottom:40px;
}
.header-image-btn{
  position:absolute;
  top:400px;
  left:400px;
  opacity:0.8;
}
.flat-field{
  margin:40px 0px 40px;
}
.food-flat{
  line-height:50px;
  font-size:20px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.red-text{
  color:red;
  font-weight:600;
}
.green-text{
  color:#ED8D8D;
  font-weight:600;
}
.signup-field{
  background-color:#A9ECA2;
  opacity:0.6;
  border-radius:10px;
  padding-bottom:20px;
}
footer{
  background-color:#F4F9F4;
  height:100px;
  margin-top:30px;
}
.footer-field{
  padding-left:100px;
}
.footer-field i{
  float:left;
  text-align:center;
  padding:0px 40px;
  line-height:100px;
}
.icon-field{
  padding-left:270px;
}

/*投稿詳細の設定(show)*/
/*//吹き出し用の設定*/
.popover.show{
  margin-bottom: 10px;
}
/*//横の画像用の設定*/
img.reviews {
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/*//並んでいるものを上下中央で揃える設定*/
.row-center{
  text-align: center;
  letter-spacing: -0.4em;
}
.row-center > [class*='col-'] {
  display: inline-block;
  letter-spacing: 0;
  vertical-align: middle;
  float: none !important;
}
.btn-comment{
  margin-bottom:60px;
}
.btn-post-edit{
  margin-bottom:15px;
}
.btn-post-destroy{
  margin-bottom:60px;
}

@media (min-width: 500px) {
  /* ウインドウ幅500px以上の時に適用されるスタイル */
  .procedure img{
    width:100%;
  }
}

@media (min-width: 750px) {
  /* ウインドウ幅750px以上の時に適用されるスタイル */
  .procedure img{
    width:30%;
  }
}

@media (min-width: 1000px) {
  /* ウインドウ幅1000px以上の時に適用されるスタイル */
  .procedure img{
    width:30%;
  }
}
