@charset "utf-8";

.panel{
  border: 1px solid #DCDCDC;
}
.panel-title{
  height: 10px;
}
.panel-body{
}
.thumbnail{
  position:relative;
}
.panel-body p{
  position:absolute;
  bottom:0px;
  left:5px;
}
.ribbon {
    display: inline-block;
    position: relative;
    height: 20px;/*高さ*/
    line-height: 20px;/*高さ*/
    vertical-align: middle;
    text-align: center;
    padding: 0 40px 0 18px;/*文字の左右の余白*/
    font-size: 15px;/*文字サイズ*/
    background: #ffc668;/*背景色*/
    color: #FFF;/*文字色*/
    box-sizing: border-box;
}
.ribbon:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}
